
body {
  margin: 0;
  padding: 0;
  color: #242e42;
  background-color: #f0f1f6;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 15px;
}

h1{
  color: #424656;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.dashboard-container {
  display: grid;
  width: 80vw;
  height: 50vh;
  grid-template-rows: 0.75fr 5fr 2fr;
  grid-gap: 10px;
  margin: auto;
}
.dashboard-container > * {
  text-align: center;
  border-radius: 5px;
  background: white;
}

.dashboard-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.dashboard-loading {
  size: 2em;
}
.dashboard-menu > .dashboard-select {
  width: 30%;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.dashboard-menu > .update-date {
  margin-right: 5px;
  font-size: 0.8em;
}


.line-chart {
  height: 80%;
}

.dashboard-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.summary-card {
  flex: 1 0 calc(25% - 10px);
  margin: 5px;
  color: white;
}
.summary-card h2 {
  font-size: 1em;
  animation: fade 2s linear;
  text-align: center;
  padding: 10%;
  
}

.summary-card p {
  font-size: calc(50% + 1.2vw);
}
.summary-card:nth-child(1) {
  background-color: #8e2e46;
}

.summary-card:nth-child(2) {
  background-color: #1f5673;
}

.summary-card:nth-child(3) {
  background-color: #687987;
}
.summary-card:nth-child(4) {
  background-color: #2a8479;
}

@media (min-width:786px) {
  .summary-card {
    flex: 1 0 calc(25% - 10px);
    margin: 5px;
    color: white;
  }
  .summary-card h2 {
    font-size: 1.6em;
    padding-top: 5%;
    animation: fade 2s linear;
  }
  .summary-card p {
    font-size: calc(100% + 0.9vw);
  }
  .dashboard-menu > .update-date {
    margin-right: 2in;
  }
}